# Modelo de scoring para predecir el riesgo de impago en clientes financieros
**Trabajo de Fin de Máster**

*Autora: Nuria Fernández Rodríguez*

*Tutores:*

## Introducción

## Descripción del Dataset

Nuestro dataset contiene información de pagos predetermiandos, factores demográficos, datos de créditos, historial de pagos, y extratos de facturas de tarjetas de crédito de clientes en Taiwan desde Abril de 2005 hasta Septiembre de 2005.

### Contenido
Hay 25 variables:

* `ID`: ID of each client

* `LIMIT_BAL`: Amount of given credit in NT dollars (includes individual and family/supplementary credit

* `SEX`: Gender (1=male, 2=female)

* `EDUCATION`: (1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown)

* `MARRIAGE`: Marital status (1=married, 2=single, 3=others)

* `AGE`: Age in years

* `PAY_0`: Repayment status in September, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, … 8=payment delay for eight months, 9=payment delay for nine months and above)

* `PAY_2`: Repayment status in August, 2005 (scale same as above)

* `PAY_3`: Repayment status in July, 2005 (scale same as above)

* `PAY_4`: Repayment status in June, 2005 (scale same as above)

* `PAY_5`: Repayment status in May, 2005 (scale same as above)

* `PAY_6`: Repayment status in April, 2005 (scale same as above)

* `BILL_AMT1`: Amount of bill statement in September, 2005 (NT dollar)

* `BILL_AMT2`: Amount of bill statement in August, 2005 (NT dollar)

* `BILL_AMT3`: Amount of bill statement in July, 2005 (NT dollar)

* `BILL_AMT4`: Amount of bill statement in June, 2005 (NT dollar)

* `BILL_AMT5`: Amount of bill statement in May, 2005 (NT dollar)

* `BILL_AMT6`: Amount of bill statement in April, 2005 (NT dollar)

* `PAY_AMT1`: Amount of previous payment in September, 2005 (NT dollar)

* `PAY_AMT2`: Amount of previous payment in August, 2005 (NT dollar)

* `PAY_AMT3`: Amount of previous payment in July, 2005 (NT dollar)

* `PAY_AMT4`: Amount of previous payment in June, 2005 (NT dollar)

* `PAY_AMT5`: Amount of previous payment in May, 2005 (NT dollar)

* `PAY_AMT6`: Amount of previous payment in April, 2005 (NT dollar)
default.payment.next.month: Default payment (1=yes, 0=no)

Vamos a empezar leyendo el dataset con **pandas** y ver qué forma tiene:

In [1]:
# Primero, los imports
import numpy as np
import pandas as pd

In [2]:
# Leemos el archivo
df = pd.read_csv( '/content/default of credit card clients.csv', sep = ';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30001 entries, 0 to 30000
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  30001 non-null  object
 1   X1          30001 non-null  object
 2   X2          30001 non-null  object
 3   X3          30001 non-null  object
 4   X4          30001 non-null  object
 5   X5          30001 non-null  object
 6   X6          30001 non-null  object
 7   X7          30001 non-null  object
 8   X8          30001 non-null  object
 9   X9          30001 non-null  object
 10  X10         30001 non-null  object
 11  X11         30001 non-null  object
 12  X12         30001 non-null  object
 13  X13         30001 non-null  object
 14  X14         30001 non-null  object
 15  X15         30001 non-null  object
 16  X16         30001 non-null  object
 17  X17         30001 non-null  object
 18  X18         30001 non-null  object
 19  X19         30001 non-null  object
 20  X20         30001 non-null  object
 21  X21         30001 non-null  object
 22  X22         30001 non-null  object
 23  X23         30001 non-null  object
 24  Y           30001 non-null  object
dtypes: object(25)
memory usage: 5.7+ MB

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Análisis Exploratorio de Datos (EDA)

## Preparación y Transformación de lo Datos

## Modelado Predictivo

## Evaluación de Resultados

## Propuesta de Productivización

## Conclusiones y Recomendaciones

## Bibliografía
Lichman, M. (2013). UCI Machine Learning Repository. University of California, Irvine, School of Information and Computer Science. Recuperado de http://archive.ics.uci.edu/ml